* {
    font-size: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* START HEADER
--------------------------*/
#header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.logo-area {
    width: 100px;
    height: 50px;
}
.logo-area img {
    margin-top: 30px;
    margin-left: 10px;
}
.right-area ul {
    margin-top: 30px;
    display: flex;
}
.right-area ul li {
    margin-right: 40px;
    font-size: 17px;
}
.hero-content {
    width: 300px;
    height: 200px;
}
/* END HEADER
--------------------------*/

/* START HERO
--------------------------*/
.hero {
    width: 100%;
    height: 320px;
}
.hero-content {
    color: white;
}
.hero-content p {
    font-size: 18px;
    position: relative;
    top: -230px;
    left: 120px;
}
.hero-content h1 {
    font-size: 60px;
    position: relative;
    top: -220px;
    left: 120px;
}
/* END HERO
--------------------------*/

.quiz {
    width: 900px;
    margin: 120px auto 0 auto;
}

/* START Q1
--------------------------*/
.quiz-icon {
    width: 65px;
    height: 50px;
    background-color: #0071BC;
    border-radius: 25%;
    text-align: center;
}
.quiz-icon h2 {
    color: white;
    font-size: 26px;
padding-top: 5px;
}
/* END Q1
--------------------------*/