@charset "UTF-8";


/* 初期設定部分 
----------------------------*/
html {
    font-size: 100%;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* 共通部分 
----------------------------*/





/* START HEADER
----------------------------*/
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 150px;
    height: 80px;
    margin-left: 20px;
}
.logo__img {
    width: 150px;
    height: 80px;
}
.nav {
    width: 380px;
    height: 80px;
    padding-top: 25px;
}
.nav__list {
    display: flex;
    text-align: left;
}
.nav__item {
    font-size: 1rem;
    text-align: left;
    margin-right: 30px;
    margin: 0 auto;
}
.nav__item a {
    color: black;
}
.nav__item:nth-child(3),
.nav__item:nth-child(4) {
    width: 35px;
    height: 35px;
    padding: 5.5px 0 0 5px;
    border-radius: 50%;
    border: 0.5px solid #9c9c9c;
}
/* END HEADER
----------------------------*/

/* START HERO
----------------------------*/
.hero {
    width: 100%;
    height: 320px;
}
.hero__content {
    position: relative;
    top: -325px;
    left: 150px;
    width: 240px;
    height: 320px;
}
.hero__subtitle {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-top: 140px
}
.hero__title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}
/* END HERO
----------------------------*/

/* START QUIZ
----------------------------*/
.quiz {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
/* START QUIZ-1
----------------------------*/
.quiz__area {
    width: 100%;
    height: 900px;
    margin-top: 150px;
}
.icon--q {
    width: 85px;
    height: 70px;
    background-color: #0071BC;
    border-radius: 8px;
    margin-bottom: 25px;
}
.icon__item--q {
    font-size: 35px;
    font-weight: 700;
    line-height: 200%;
    text-align: center;
    color: white;
}
.question {
    width: 100%;
    height: auto;
    text-align: center;
}
.question__item {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}
.question__img {
    width: 700px;
    margin: 50px 0 0 50px;
}
.icon--a {
    width: 55px;
    height: 70px;
    background-color: #E34E70;
    border-radius: 8px;
    margin-bottom: 30px;
}
.icon__item--a {
    font-size: 35px;
    font-weight: 700;
    line-height: 200%;
    text-align: center;
    color: white;
}
.choices {
    width: 100%;
    height: 80px;
}
.choices__list {
    display: flex;
}
.choices__item {
    display: flex;
    justify-content: space-between;
    width: 312px;
    height: 80px;
    margin: 0 auto;
    background: #EFF2F5;
    border: 5px solid #cbcbcb;
    border-radius: 8px;
}
.item--a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
}
.item--triangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #000000;
    border-right: 0;
    top: 30px;
    right: 30px;
}
.answer__true {
    width: 100%;
    height: 140px;
    margin-top: 30px;
    background: #FFF2F5;
    border-radius: 8px;
}
.true__item {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #E34E70;
    top: 20px;
    left: 20px;
}
.true__coment,
.false__coment {
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
}
.true__coment--a,
.falese__coment--a {
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
}
.true__item--a,
.false__item--a {
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    margin-top: 7px;
    margin-left: 30px;
}
.answer__false {
    width: 100%;
    height: 140px;
    margin-top: 30px;
    background: #EFF2F5;
    border-radius: 8px;
}
.false__item {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #0071BC;
    top: 20px;
    left: 20px;
}
.coment {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    background: #F6F6F6;
    border-radius: 8px;
    display: flex;
}
.coment__icon {
    width: 40px;
    height: 40px;
    margin-top: 18px;
    margin-left: 20px;
}
.coment__item {
    width: 80%;
    height: 80px;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    margin-top: 22px;
    margin-left: 20px;
}
/* END QUIZ-1
----------------------------*/
/* END QUIZ
----------------------------*/