@charset "UTF-8";


/* 初期設定部分 
----------------------------*/
html {
    font-size: 100%;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* 共通部分 
----------------------------*/





/* START HEADER
----------------------------*/


/* END HEADER
----------------------------*/